.container{
	width: 100%;
	background: #e3edf7;
	
}
.home_bg{
	width: 100%;
	height: 450px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	
}
#left{
	width: 75%;
	height: 100%;
	background: #000;
	color: #FFA500;
	line-height: 1.6;
	padding: 100px 160px 0px 80px;
	font-size: 14px;
	
}
#left h2{
	color: #EAEFF2;
	position: relative;
	bottom: 30px;
	
}
#left p{
	color: #fff;
	position: relative;
	bottom: 40px;
	font-size: 10px;
	
}
#left ul{
	list-style: none;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	position: relative;
	right: 40px;
	
	
	
	
}
#left ul li p{
	color: #fff;
	
}
#right{
	width: 35%;
	height: 100%;
	background: #FFA500;
	
}
#img{
	position: absolute;
	top: 105px;
	left: 560px;
	width: 200px;
	height: 200px;
	border: 4px solid #fff;
}
#img img{
	width: 200px;
	height: 200px;
	background: #FFA500;
	position: absolute;
	left: 20px;
	top: 20px;
	border: 1px solid #fff;
	
	
}
.about{
	width: 100%;
	height: 200px;
	color: #000;
	padding: 20px;
	
	
}
.point{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.point h4{
	color: #FFA500;
	
}
.point span{
	width: 85%;
	height: 2px;
	background: #FFA500;
	
}
.about p{
	width: 100%;
	padding: 20px;
	background: rgba(250, 250, 250, 0.3);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.7px);
	-webkit-backdrop-filter: blur(5.7px);
	border: 1px solid rgba(0, 0, 0, 0.3);
	color: #333;
	line-height: 1.9;
	font-size: 12px;
	height: 100%;
	
}
.skill{
	width: 100%;
	height: 100px;
	padding: 20px;
	margin: 40px 0px;
	
}
.skill ul{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: #333;
	width: 100%;
	padding: 20px 40px;
	background: rgba(250, 250, 250, 0.3);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.7px);
	-webkit-backdrop-filter: blur(5.7px);
	border: 1px solid rgba(0, 0, 0, 0.3);
	height: 100%;
	

}
.skill ul li:hover{
	color: #FDA500;
	font-weight: 600;
	
}
.project{
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 50px 0px;
	
}
.file{
	width: 200px;
	height: 300px;
	background: rgba(250, 250, 250, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.7px);
	-webkit-backdrop-filter: blur(5.7px);
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 20px;
	font-size: 10px;
	margin: 5px;
	
}
.icon{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
}
.icon span{
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.used{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	color: #359;
	font-weight: 600;
	
}
.footer{
	width: 100%;
	height: 200px;
	background: #000;
	
}
@media only screen and (max-width: 576px){
	.home_bg{
		height: 350px;
		
	}
	#left{
		width: 100%;
		padding: 20px;
		
	}
	#right{
	  display: none;
	  
	}
  #img{
		display: none;
	}
	.about{
		height: 600px;
		
	}
	.point{
		font-size: 10px;
		font-weight: 400;
		
	}
	.point span{
		width: 70%;
		
	}
	.skill{
		padding: 10px;
		font-size: 14px;
		height: 250px;
		
	}
	.skill ul{
		padding: 5px 40px;
		flex-direction: column;
		align-items: flex-start;
		
	}
	.skill ul li:hover{
		font-weight: 500;
		
	}
  .project{
		padding: 10px 5px;
		
	}
  .file{
		width: 150px;
		height: 250px;
		font-size: 8px;
		padding: 10px;
		
	}
	.icon{
		font-size: 10px;
		
	}
  .used{
		font-weight: 500;
		height: 30px;
		
	}
}
